<card #userInviteDiv [title]="'Invite New User'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="isSuperAdmin">
      <mat-select placeholder="Institution" name="accountId" [(ngModel)]="model.accountId" [formControl]="form.controls['accountId']">
        <mat-option *ngFor="let account of accountList" [value]="account.id">
          {{ account.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['accountId'].hasError('required') && form.controls['accountId'].touched">
                    Please select account.
      </mat-error>
    </mat-form-field>
    <input *ngIf="!isSuperAdmin" type="hidden" [(ngModel)]="model.accountId" [formControl]="form.controls['accountId']">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="model.email" [formControl]="form.controls['email']">
      <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">
        You must include email.
      </mat-error>
      <mat-error *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched">
        You must include a valid email address.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Role" name="roleId" [(ngModel)]="model.roleId" [formControl]="form.controls['roleId']">
        <mat-option *ngFor="let role of roleList" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['roleId'].hasError('required') && form.controls['roleId'].touched">
        Please select role.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn-margin-top" type="submit" color="accent" [disabled]="!form.valid">{{ oldemail ? "Reinvite" : "Invite" }}</button>
    <button mat-raised-button type="button" (click)="dialogRef.close('flase')">Cancel</button>
  </form>
</card>
