<card #loansDiv title="Manage Loans">
  <div>
      <button mat-raised-button color="accent" (click)="addLoan()">Add Loan</button>
      <mat-form-field>
          <input autocomplete="txtCommonSearch" matInput placeholder="Search" [(ngModel)]="txtCommonSearch" (ngModelChange)="getLoans()" >
      </mat-form-field>
  </div>

    <div *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-table #table [dataSource]="loans" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="loannumber">
          <mat-header-cell *matHeaderCellDef  disableClear> Loan Number </mat-header-cell>
          <!-- mat-sort-header -->
          <mat-cell *matCellDef="let row"> {{row.loanNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loanType">
            <mat-header-cell *matHeaderCellDef  disableClear> Loan Type </mat-header-cell>
            <!-- mat-sort-header -->
            <mat-cell *matCellDef="let row"> {{row.loanType}} </mat-cell>
          </ng-container>
        <ng-container matColumnDef="borrower">
          <mat-header-cell *matHeaderCellDef  disableClear> Borrower </mat-header-cell>
          <!-- mat-sort-header -->
          <mat-cell *matCellDef="let row"> {{row.borrower}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="broker">
            <mat-header-cell *matHeaderCellDef  disableClear> Broker </mat-header-cell>
            <!-- mat-sort-header -->
            <mat-cell *matCellDef="let row"> {{row.broker}} </mat-cell>
          </ng-container>
        <ng-container matColumnDef="accountManager">
          <mat-header-cell *matHeaderCellDef  disableClear> Account Manager </mat-header-cell>
          <!-- mat-sort-header -->
          <mat-cell *matCellDef="let row"> {{row.accountManager}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="propertyAddress">
          <mat-header-cell *matHeaderCellDef  disableClear>Address </mat-header-cell>
          <!-- mat-sort-header -->
          <mat-cell *matCellDef="let row"> {{row.propertyAddress}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accountname">
          <mat-header-cell *matHeaderCellDef> Account Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.accountName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdDate | date:'MM/dd/yyyy' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="modifiedDate">
          <mat-header-cell *matHeaderCellDef> Modified Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.modifiedDate | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action  </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button matTooltip="Edit"  mat-icon-button (click)="editLoan(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="no-record-found" *ngIf="!loans || (loans && loans.data.length === 0)"> No Record Found.</div>
      <mat-paginator #paginator [length]="resultsLength"  [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>

</card>
