<card #taskStatusDiv title="Manage Check List Items {{ checkListItems && checkListItems && checkListItems.length > 0 ? 'for Check List' : '' }}">
    <div *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="mat-table" >
      <div class="mat-header-row">
          <div class="mat-header-cell drag-col-sm-4" >
          </div>
          <div class="mat-header-cell" style="padding-right: 10px;" >
            Instruction
          </div>
          <div class="mat-header-cell" style="padding-right: 10px;">
            Help Context
          </div>
          <div class="mat-header-cell center" style="padding-right: 10px;" >
            Status
          </div>
          <div class="mat-header-cell" >
            Created Date
          </div>
          <div class="mat-header-cell" >
            Modified Date
          </div>
          <div class="mat-header-cell" style="padding-left: 10px;" >
            Action
          </div>
      </div>
      </div>
      <div ngxDroppable class="mat-table" [model]="checkListItems"  (drag)="builderDrag($event)"   (drop)="builderDrop($event)">
          <div ngxDraggable class="mat-row"  [model]="checkListItems[i]"   *ngFor="let row of checkListItems;let i = index">
            <div class="mat-cell drag-col-sm-4" ><mat-icon *ngIf="row.id" ngxDragHandle >more_vert</mat-icon></div>
              <div class="mat-cell">
                  <mat-form-field style="padding-right: 10px;">
                      <input name="instruction_{{i}}" matInput placeholder="Instruction" [(ngModel)]="row.instruction">
                  </mat-form-field>
              </div>
              <div class="mat-cell">
                  <mat-form-field style="padding-right: 10px;">
                      <input name="helpContext_{{i}}" matInput placeholder="Help Context" [(ngModel)]="row.helpContext">
                  </mat-form-field>
              </div>
              <div class="mat-cell">
                      <input name="taskStatusDetailId_{{i}}" type="hidden" placeholder="Status" [(ngModel)]="row.taskStatusDetailId">
                  <button mat-button  style="width:100%;height: 100%;" >Pending</button>
              </div>
              <div class="mat-cell"> {{row.createdDate | date:'MM/dd/yyyy' }}</div>
              <div class="mat-cell"> {{row.modifiedDate | date:'MM/dd/yyyy' }}</div>
              <div class="mat-cell">
                <button matTooltip="Update"  color="warn" *ngIf="(checkListItems && checkListItems.length -1 > i)" mat-icon-button (click)="updateListItem(row)">
                    <mat-icon>done</mat-icon>
                  </button>
                  <button matTooltip="Add New" *ngIf=" (checkListItems && checkListItems.length -1  === i)" mat-icon-button color="accent" (click)="addListItem(row)">
                      <mat-icon>add</mat-icon>
                  </button>

                <button matTooltip="Cancel"  mat-icon-button (click)="resetItem(row)">
                    <mat-icon>clear</mat-icon>
                </button>
                <button matTooltip="Delete"  color="warn" *ngIf="(checkListItems && checkListItems.length -1 > i)" mat-icon-button (click)="deleteItem(row)">
                  <mat-icon>delete_forever</mat-icon>
                </button>

              </div>
          </div>

      </div>
      <div class="no-record-found" *ngIf="!checkListItems || (checkListItems && checkListItems.length === 0)"> No Record Found.</div>

</card>
