<card #userDiv [title]=" model.id ? 'Edit Institution' : 'Add Institution'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="model.name" [formControl]="form.controls['name']">
      <mat-error *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
        You must include Name
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" color="accent" [disabled]="!form.valid">{{ !model.id ? 'Save' : 'Update' }}</button>
    <button mat-raised-button type="button" (click)="dialogRef.close(null)">Cancel</button>
  </form>
</card>
