<div id="header">
  <div fxLayout="row" style="height:65px" fxLayoutAlign="start center">
    <div class="logo" fxHide="true" fxShow.gt-xs="true">
      <img src="./assets/images/monday_logo_short.png" style="height: 44px; width: 180px;vertical-align: baseline;" />
    </div>
    <div *ngIf="mobileIcon" class="logo">
      <img src="./assets/images/monday_logo_short.png" style="height: 44px; width: 180px;vertical-align: baseline;" />
    </div>
    <div fxFlex style="background-color: #f7f7f7">
      <div fxLayout="row" fxLayoutAlign="start center" style="height:65px;">
        <button fxHide.gt-xs="true" (click)="mobileMenu()" mat-icon-button color="primary">
          <mat-icon aria-label="">menu</mat-icon>
        </button>
        <div>
          <button class="icon-border" mat-icon-button color="accent">
            <mat-icon aria-label="Notification">alarm</mat-icon>
          </button>
        </div>
        <div class="headerDivider"></div>
        <div>
          <button class="icon-border" mat-icon-button color="accent">
            <mat-icon aria-label="Manage Mamber List">supervisor_account</mat-icon>
          </button>
        </div>
        <div>
          <input type="text" class="search" name="search" [(value)]="searchInput" (focus)="searchFocus()" (focusout)="searchFocusOut()"
            placeholder="Search Everything..." />
          <mat-icon *ngIf="resetSearch" (click)="searchReset()" style="color:black;vertical-align: middle;padding-left: 3px;cursor: pointer;"
            aria-label="remove">cancel</mat-icon>

        </div>
        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="end center">
            <button class="button-round" mat-raised-button color="primary">
              <mat-icon aria-label="">arrow_right</mat-icon>
              Upgrade
            </button>
            <div class="headerDivider"></div>
            <button mat-icon-button color="primary">
              <mat-icon aria-label="">favorite</mat-icon>
            </button>
            <div class="headerDivider"></div>
            <div>
              <a href="#" class="invite-member">
                <mat-icon color="primary" style="vertical-align: middle;">add_circle</mat-icon>
                Invite Team Members
              </a>
            </div>
            <div class="headerDivider"></div>
            <button color="primary" mat-fab>
              <mat-icon aria-label="Edit dashboard">JV</mat-icon>
            </button>
            <div fxFlex="10px"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="main-sidenav" mode="side" [(opened)]="opened">
      <mat-nav-list class="left-side-menu">
        <mat-list-item>
          Inbox
        </mat-list-item>
            
        <mat-divider></mat-divider>
        <mat-list-item (click)="menuExpand = !menuExpand">
          <mat-icon>subject</mat-icon>
          Boards
        </mat-list-item>
        <mat-list-item class="normal"  *ngIf="menuExpand" >
            Real Estate Management
        </mat-list-item>
      
        <mat-list-item class="normal" *ngIf="menuExpand"  (click)="layoutClick()" >
            Layout
        </mat-list-item>
        <mat-list-item class="new" *ngIf="menuExpand" fxLayoutAlign="end center">
            <button style="border-radius: 20px;" mat-button> <mat-icon color="primary" style="vertical-align: middle;">add_circle</mat-icon>New</button>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>share</mat-icon>
          Shareable Boards
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>lock</mat-icon>
          Private Boards
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-drawer>

    <div class="main-sidenav-content">
      <button fxHide.lt-sm="true" style="position: fixed" mat-icon-button (click)="opened  = !opened">
        <mat-icon aria-label="Edit dashboard">{{ opened ? 'arrow_back' : 'arrow_forward' }}</mat-icon>
      </button>
      <div style="width:100%;height: 100%;">
        <router-outlet></router-outlet>
      </div>


    </div>

  </mat-drawer-container>
</div>
