<card #investorDiv [title]=" model.id ? 'Edit Investor' : 'Add Investor'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="model.name" [formControl]="form.controls['name']">
      <mat-error *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
        You must include Name
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Contact Name" [(ngModel)]="model.contactName" [formControl]="form.controls['contactName']">
      <mat-error *ngIf="form.controls['contactName'].hasError('required') && form.controls['contactName'].touched">
        You must include Contact Name
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact Phone" [(ngModel)]="model.contactPhone" [formControl]="form.controls['contactPhone']">
      <mat-error *ngIf="form.controls['contactPhone'].hasError('required') && form.controls['contactPhone'].touched">
        You must include Contact Phone
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" [(ngModel)]="model.address" [formControl]="form.controls['address']">
      <mat-error *ngIf="form.controls['city'].hasError('address') && form.controls['address'].touched">
        You must include Address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" [(ngModel)]="model.city" [formControl]="form.controls['city']">
      <mat-error *ngIf="form.controls['city'].hasError('required') && form.controls['city'].touched">
        You must include City
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="State" name="state" [(ngModel)]="model.state" [formControl]="form.controls['state']">
            <mat-option *ngFor="let state of stateList" [value]="state.code">
              {{ state.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['state'].hasError('required') && form.controls['state'].touched">
            please select State.
          </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ZipCode" [(ngModel)]="model.zipCode" [formControl]="form.controls['zipCode']">
      <mat-error *ngIf="form.controls['zipCode'].hasError('required') && form.controls['zipCode'].touched">
        You must include ZipCode
      </mat-error>
    </mat-form-field>

    <button class="btn-margin-top" mat-raised-button color="primary" type="submit" color="accent" [disabled]="!form.valid">{{ !model.id ? 'Save' : 'Update' }}</button>
    <button mat-raised-button type="button" (click)="dialogRef.close(null)">Cancel</button>

  </form>
</card>
