<card #usersDiv title="Manage Institutions">
    <button mat-raised-button color="accent" (click)="addInstition()">Add Institution</button>
    <mat-slide-toggle *ngIf="!this.isSuperadmin" style="padding-left: 15px;"
          color="primary"
          [(checked)]="includeMasterList" (change)="updateList($event.checked)"
          >
         {{ includeMasterList ? 'Include Master List' : 'My List' }}
      </mat-slide-toggle>
    <div *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-table #table [dataSource]="institutions" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef  disableClear> Name </mat-header-cell>
          <!-- mat-sort-header -->
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accountname">
          <mat-header-cell *matHeaderCellDef> Account Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.accountName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action  </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button matTooltip="Edit" *ngIf="this.isSuperadmin ||  (this.isSuperadmin && !row.accountId) || (!this.isSuperadmin && row.accountId)" mat-icon-button (click)="editInstitution(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button color="accent" matTooltip="Pick up & Create" *ngIf="!row.accountId" mat-icon-button (click)="editInstitution(row, true)">
              <mat-icon>library_add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="resultsLength"  [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>

</card>
