<card #usersDiv title="Manage Institutions">
    <button mat-raised-button color="accent" (click)="addInstition()">Add Institution</button>
    <mat-slide-toggle *ngIf="!this.isSuperadmin" style="padding-left: 15px;"
          color="primary"
          [(checked)]="includeMasterList" (change)="updateList($event.checked)"
          >
         {{ includeMasterList ? 'Include Master List' : 'My List' }}
      </mat-slide-toggle>
    <div *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-table #table [dataSource]="institutions" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef  disableClear> Name </mat-header-cell>
          <!-- mat-sort-header -->
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accountname">
          <mat-header-cell *matHeaderCellDef> Account Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.accountName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdDate | date:'MM/dd/yyyy' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="modifiedDate">
          <mat-header-cell *matHeaderCellDef> Modified Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.modifiedDate | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action  </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button color="accent" matTooltip="Pick up & Create" *ngIf="!row.accountId" mat-icon-button (click)="editInstitution(row, true)">
              <mat-icon>library_add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Actions" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button matTooltip="Edit" *ngIf="this.isSuperadmin ||  (this.isSuperadmin && !row.accountId) || (!this.isSuperadmin && row.accountId)" mat-menu-item (click)="editInstitution(row)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Institution</span>
                </button>
                  <button color="warn" mat-menu-item  (click)="listUsers(row)">
                    <mat-icon>list</mat-icon>
                    <span>Users</span>
                  </button>
                  <button color="warn" mat-menu-item  (click)="listCheckList(row)">
                    <mat-icon>playlist_add_check</mat-icon>
                    <span>CheckLists</span>
                  </button>
                  <button color="warn" mat-menu-item  (click)="listLoans(row)">
                    <mat-icon>assignment</mat-icon>
                    <span>Loans</span>
                  </button>
                  <button color="warn" mat-menu-item  (click)="listInvestors(row)">
                    <mat-icon>account_balance_wallet</mat-icon>
                    <span>Investors</span>
                  </button>
                  <button color="warn" mat-menu-item  (click)="listTaskStatusSet(row)">
                    <mat-icon>account_balance_wallet</mat-icon>
                    <span>Task Status Set</span>
                  </button>
                  <button color="warn" mat-menu-item  (click)="listColors(row)">
                      <mat-icon>list</mat-icon>
                      <span>Standard Colors</span>
                    </button>
            </mat-menu>

          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="no-record-found" *ngIf="!institutions || (institutions && institutions.data.length === 0)"> No Record Found.</div>

      <mat-paginator #paginator [length]="resultsLength"  [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>

</card>
