@import '../../../assets/sass/variable';

.my-class {
  color: white;
  background-color: red;
  cursor: pointer;
}


.mat-table {
  display: block;
  background: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-header-row, .mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.54);
}
.mat-header-cell {
  font-size: 12px;
  font-weight: 500;

}
.center {
  text-align: center;
 }
.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}
.mat-cell {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.drag-col-sm-4 {
  flex: 0 0 50px !important;
}
