<div fxLayout="row" fxLayoutAlign="start start">
  <div style="min-height: 40px; height:40px" fxFlex>
      
  </div>

</div>

<div fxLayout="row" fxLayoutAlign="start center">
    <div  fxFlex>
            <div fxLayout="column" fxLayoutAlign="start start">
                <h1>Layout</h1>
                <div>
                    Add board description
                </div>
                </div>
    </div>
    <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button>Add View</button>
                <div fxFlex="15px;">

                    </div>
                <button mat-raised-button>Subscribe</button>
                <button mat-raised-button>Menu 3</button>
                <button mat-raised-button>Menu 4</button>
                <button class="icon-border" mat-icon-button color="accent">
                <mat-icon aria-label="menu">menu</mat-icon>
                </button>
                <div fxFlex="15px;">

                </div>
            </div>
      </div>
  </div>