<card #taskStatusDiv title="Manage Task Statuses {{ taskStatusDetails && taskStatusDetails.data && taskStatusDetails.data.length > 0 ? 'for ' + taskStatusDetails.data[0].taskStatusSetTitle : '' }}">
    <div>
        <button mat-raised-button color="accent" (click)="addTaskStatus()">Add Task Status</button>
        <mat-form-field>
            <input autocomplete="txtCommonSearch" matInput placeholder="Search" [(ngModel)]="txtCommonSearch" (ngModelChange)="getTaskStatuses()" >
        </mat-form-field>
    </div>
    <div *ngIf="isLoadingResults">
      <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="mat-table" >
      <div class="mat-header-row">
          <div class="mat-header-cell drag-col-sm-4" >
          </div>
          <div class="mat-header-cell" *ngFor="let col of displayedColumns1" >
              {{col}}
            </div>
      </div>
      </div>
      <div ngxDroppable class="mat-table" [model]="taskStatusDetails.data"  (drag)="builderDrag($event)"   (drop)="builderDrop($event)">
          <div ngxDraggable class="mat-row"  [model]="taskStatusDetails.data[i]"   *ngFor="let row of taskStatusDetails.data;let i = index">
            <div class="mat-cell drag-col-sm-4" ><mat-icon ngxDragHandle >more_vert</mat-icon></div>
              <div class="mat-cell">  <div [ngStyle]="{'color' : row.color ?  row.color : '#000000',
                'background-color': row.backGroundColor ?  row.backGroundColor : 'initial'}"
                 class="set-colors"> {{row.caption}}</div>
                </div>
              <div class="mat-cell"> {{row.order}}</div>
              <div class="mat-cell"> {{row.disabled ? 'Yes' : 'No'}}</div>
              <div class="mat-cell"> {{row.createdDate | date:'MM/dd/yyyy' }}</div>
              <div class="mat-cell"> {{row.modifiedDate | date:'MM/dd/yyyy' }}</div>

              <div class="mat-cell">
                <button matTooltip="Edit"  mat-icon-button (click)="editTaskStatus(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
      </div>


      <div class="no-record-found" *ngIf="!taskStatusDetails || (taskStatusDetails && taskStatusDetails.data.length === 0)"> No Record Found.</div>
      <mat-paginator #paginator [length]="resultsLength"  [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[ 10, 25, 50, 100]"></mat-paginator>
      <div ngxDroppable="example2">

      </div>
</card>
